@import url('https://fonts.googleapis.com/css?family=Monomakh&display=swap');

body {
    font-family: Monomakh, serif;
    background: linear-gradient(90deg, #aeff00 0%, #000000 100%);
}

.bg-dark {
    background-color: rgb(10 60 100) !important;
}

.nav-link {
    color: cyan;
}

.navbar-nav .nav-link.active {
    color: DarkCyan;
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: DarkCyan;
}

.sidebar {
    color: cyan;
    background: linear-gradient(270deg, #aeff00 0%, #000000 100%);
}

.card {
    background: linear-gradient(270deg, #aeff00 0%, #000000 100%);
}

.card a {
    text-decoration: none;
    color: cyan;
}
